h1 {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 50px;
    color:white;
    padding-top: 10px;
    margin:0;
}
h2 {
    text-decoration: underline;
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    color:rgb(133, 118, 90);
    padding-top: 10px;
    padding-left: 20px;
    margin:0;
}

p {
    font-family: 'Mukta', sans-serif;
    color:rgb(133, 118, 90);
    padding-top:5px;
    padding-left:20px;
    padding-right:20px;
    margin:0;
}