body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    height: 100%;
}

h3 {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100vw;
    background-color: orange;
    position:fixed;
    box-shadow: 0px 0px 3px 0px, 0 0 inset;
    
}

.nav_button {
    width: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    vertical-align: middle;
}

.nav_button:hover {
    background-color: rgb(199, 129, 0);
}

.logo {
    background-color: inherit;
}

.logo:hover {
    background-color: rgb(199, 129, 0);
}

#page {
    display: flex;
    justify-content: end;
    color:white;
}

#active {
    background-color: rgb(252, 218, 155);
    color:rgb(180, 117, 0);
}

.body {
    margin-top: 55px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    width: 100vw;
    height: 100%;
}

.cards {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
}
.section {
    border-top: 2px solid rgb(133, 118, 90);
    /*border-bottom: 1px solid rgb(133, 118, 90);*/
}

.card {
    margin: 30px;
    height:300px;
    width:250px;
    background-color: white;
    border:3px solid rgb(133, 118, 90);
    border-radius:10px;
}

#name {
    background-color: rgb(133, 118, 90);
    height: 100px;
    text-align: center;
}