body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /*background-color: rgb(255, 244, 223);*/
    background-color: rgb(255, 251, 245);
    height: 100%;
}

h3 {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100vw;
    background-color: orange;
    position:fixed;
    box-shadow: 0px 0px 3px 0px, 0 0 inset;
    
}

.nav_button {
    width: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    vertical-align: middle;
}

.nav_button:hover {
    background-color: rgb(199, 129, 0);
}

.logo {
    background-color: inherit;
}

.logo:hover {
    background-color: rgb(199, 129, 0);
}

#page {
    display: flex;
    justify-content: end;
    color:white;
}

#active {
    background-color: rgb(252, 218, 155);
    color:rgb(180, 117, 0);
}

.body {
    margin-top: 55px;
}