h1 {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 50px;
    color:white;
    padding-top: 10px;
    margin:0;
}
h2 {
    text-decoration: underline;
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    color:rgb(133, 118, 90);
    padding-top: 10px;
    padding-left: 20px;
    margin:0;
}

h4 {
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    color:white;
    margin:0;
}

p {
    font-family: 'Mukta', sans-serif;
    color:rgb(133, 118, 90);
    padding-left:20px;
    padding-right:20px;
}

.card {
    width:300px;
}

.card_title {
    background-color: rgb(133, 118, 90);
    width: 300px;
    /*height: 50px*/
}

img {
    border-radius:0px 0px 7px 7px;
    margin:0;
}

#animation_box {
    height:250px;
    /*display:flex;
    flex-direction: column;
    justify-content: center;*/
}

#animation {
    animation-duration: 4s;
    animation-name: driving;
    animation-iteration-count: infinite;
    margin:5px;
}

@keyframes driving {
    0% {transform: rotate(-90deg); margin-left: 5px;margin-top: 50px;}
    12.5% {transform: rotate(-45deg);margin-left: 55px;margin-top: 25px;}
    25% {transform: rotate(0deg);margin-left: 110px;margin-top: 5px;}
    37.5% {transform: rotate(35deg);margin-left: 180px;margin-top: 25px;}
    50% {transform: rotate(90deg);margin-left: 220px;margin-top: 50px;}
    62.5% {transform: rotate(125deg);margin-left: 180px;margin-top: 90px;}
    75% {transform: rotate(180deg);margin-left: 110px;margin-top: 120px;}
    87.5% {transform: rotate(215deg);margin-left: 45px;margin-top: 90px;}
    100% {transform: rotate(270deg);margin-left: 5px;margin-top: 50px;}
}

#special {
    background-color: rgb(252, 216, 149);
}

.gallery_photo {
    border-radius:7px 7px 7px 7px;
}